.abajo {
	background-color: black;
}
body {
	background-color: #EDEDED;
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
}
h1 {
	width: 60px;
	color: white;
	padding-top: 10px;
	margin: auto
}

header span {
	background-color: #DC191B;
}

.inicio {
	padding-left: 50px;
	padding-right: 50px;
	background-color: #0F1618;
  padding-bottom: 35px;
}

header p {
	color:rgb(153, 163, 164);
	margin-block-end: 0em;
	margin: auto;
}

.busqueda_header {
	display: flex;
	background-color: #DC191B;
	margin-block-end: 0;
	padding-left: 10px;
}

.busqueda_header div {
	padding-top: 20px;
	font-weight: bold;
	margin-right: 0;
	color: white;
	padding-right: 20px;
}

.logo {
  margin-top: 10px;
  width: 7%;
  float: right;
}

/* esta es la ventana que salta cuando se sube un juego. Mi idea es que cuando des click se vaya. Eso se hace con js igual */
#ventana_confirmacion_juego {
  display: none;
  margin: auto;
  appearance: none;
  backface-visibility: hidden;
  background-color: #27ae60;
  border-radius: 8px;
  border-style: none;
  box-shadow: rgba(39, 174, 96, .15) 0 4px 9px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: Inter,-apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: normal;
  line-height: 1.5;
  outline: none;
  overflow: hidden;
  padding: 13px 20px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transform: translate3d(0, 0, 0);
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
}

/* Este es el botón que te lleva al altajuego */
.boton_bonito {
  max-width: 120px;
  margin: 0;
  background-color: #111827;
  border: 1px solid transparent;
  border-radius: .75rem;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  flex: 0 0 auto;
  font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.5rem;
  padding: .75rem 1.2rem;
  text-align: center;
  text-decoration: none #6B7280 solid;
  text-decoration-thickness: auto;
  transition-duration: .2s;
  transition-property: background-color,border-color,color,fill,stroke;
  transition-timing-function: cubic-bezier(.4, 0, 0.2, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  float: right;

}

.boton_bonito:hover {
  background-color: #374151;
}

.boton_bonito:focus {
  box-shadow: none;
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.boton_normal {
  background-color: rgba(51, 51, 51, 0.2);
  border-radius: 8px;
  border-width: 0;
  color: #333333;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  margin: 0;
  padding: 10px 12px;
  text-align: center;
  transition: all 200ms;
  vertical-align: baseline;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.lista {
  display: block;
  width: 80%;
  margin: auto;
	padding-left: 6%;
	padding-right: 6%;
	padding-top: 20px;
	padding-bottom: 20px;
	min-height: 100%;
}

.bloque_info {
	display: block;
  margin-right: 20px;
  margin-left: 20px;
  width: 20%;
	margin-top: 30px;
	margin-bottom: 30px;
	background-color: white;
}

.bloques_header label {
	color: white;
	margin-left: 10px;
	margin-right: 10px
}

.info_right {
	margin: auto;
	text-align: center;
}

.reducir_img {
	width: 100%;
  margin: auto;
  border-bottom: 1px solid black;
}

footer {
	padding-top: 10px;
	padding-bottom: 30px;
	padding-left: 20px;
	padding-right: 20px;
}
footer p {
	color: white;
	margin-block-end: 0;
	margin-block-start: 0;
}

.boldeable {
  font-weight: bold;
  width: 100%;
}

.centrar {
	display: block;
}

.inline {
	display: inline;
}

.flex {
	display: flex;
}

.justify_center {
  justify-content: center;
}

.flotar_derecha {
	float: right;
}

.desextremizar {
  margin-right: 40px;
}

.cuadro {
	background-color:white;
	border:2px solid #0F1618;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	margin: auto;
	margin-bottom: 5%;
	margin-top: 5%;
	max-width: 900px;
}

.espacio_form {
	padding: 20px;
	float: left;
}

fieldset input {
	margin: 20px;
}

.texto_grande {
	width: 200px;
	height: 100px;
}

#confirmar {
	margin: 20px;
	align-items: center;
	padding: 20px;
}

#error_de_subida {
  margin: 20px;
}
fieldset p, #return_imagen, #error_de_subida {
	margin-block-start: 0;
  margin-block-end: 0;
	color: rgb(255, 58, 58)
}

header select {
	padding-right: 10px;
	margin-right: 10px;
}

.top_form {
	background-color: #922B21;
	border-bottom: 2px solid #0F1618;
}

.top_form p {
	padding: 25px;
	color: white;
	font-weight: bold;
	margin: auto;
}