@import url("https://fonts.googleapis.com/css?family=Inconsolata:700");




.abajo {
	background-color: black;
}
body {
	background-color: #EDEDED;
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
}
h1 {
	width: 60px;
	color: white;
	padding-top: 10px;
	margin: auto
}

header span {
	background-color: #DC191B;
}

.inicio {
	padding-left: 50px;
	padding-right: 50px;
	background-color: #0F1618;
}

header p {
	padding-bottom: 20px;
	color:rgb(153, 163, 164);
	margin-block-end: 0em;
	margin: auto;
}

.busqueda_header {
	display: flex;
	background-color: #DC191B;
	margin-block-end: 0;
	padding-left: 10px;
}

.busqueda_header div {
	padding-top: 20px;
	font-weight: bold;
	margin-right: 0;
	color: white;
}



/* copiado de inter: */

.entorno_confirmacion { /* no tengo idea de por qué no funciona esto. Mañana le doy un par de vueltas */
  display: none;
  margin: auto;
  appearance: none;
  backface-visibility: hidden;
  background-color: #27ae60;
  border-radius: 8px;
  border-style: none;
  box-shadow: rgba(39, 174, 96, .15) 0 4px 9px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: Inter,-apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: normal;
  line-height: 1.5;
  outline: none;
  overflow: hidden;
  padding: 13px 20px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transform: translate3d(0, 0, 0);
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
}

.boton_bonito {
  margin: auto;
  background-color: #111827;
  border: 1px solid transparent;
  border-radius: .75rem;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  flex: 0 0 auto;
  font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.5rem;
  padding: .75rem 1.2rem;
  text-align: center;
  text-decoration: none #6B7280 solid;
  text-decoration-thickness: auto;
  transition-duration: .2s;
  transition-property: background-color,border-color,color,fill,stroke;
  transition-timing-function: cubic-bezier(.4, 0, 0.2, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  float: right;

}

.boton_bonito:hover {
  background-color: #374151;
}

.boton_bonito:focus {
  box-shadow: none;
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.boton_normal {
  background-color: rgba(51, 51, 51, 0.05);
  border-radius: 8px;
  border-width: 0;
  color: #333333;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  margin: 0;
  padding: 10px 12px;
  text-align: center;
  transition: all 200ms;
  vertical-align: baseline;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.container {
	position: absolute;
	margin: auto;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 300px;
	height: 100px;
  }
  .container .search {
	position: absolute;
	margin: auto;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 80px;
	height: 80px;
	background: crimson;
	border-radius: 50%;
	transition: all 1s;
	z-index: 4;
	box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.4);
  }
  .container .search:hover {
	cursor: pointer;
  }
  .container .search::before {
	content: "";
	position: absolute;
	margin: auto;
	top: 22px;
	right: 0;
	bottom: 0;
	left: 22px;
	width: 12px;
	height: 2px;
	background: white;
	transform: rotate(45deg);
	transition: all 0.5s;
  }
  .container .search::after {
	content: "";
	position: absolute;
	margin: auto;
	top: -5px;
	right: 0;
	bottom: 0;
	left: -5px;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	border: 2px solid white;
	transition: all 0.5s;
  }
  .container input {
	font-family: "Inconsolata", monospace;
	position: absolute;
	margin: auto;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 50px;
	height: 50px;
	outline: none;
	border: none;
	background: crimson;
	color: white;
	text-shadow: 0 0 10px crimson;
	padding: 0 80px 0 20px;
	border-radius: 30px;
	box-shadow: 0 0 25px 0 crimson, 0 20px 25px 0 rgba(0, 0, 0, 0.2);
	transition: all 1s;
	opacity: 0;
	z-index: 5;
	font-weight: bolder;
	letter-spacing: 0.1em;
  }
  .container input:hover {
	cursor: pointer;
  }
  .container input:focus {
	width: 300px;
	opacity: 1;
	cursor: text;
  }
  .container input:focus ~ .search {
	right: -250px;
	background: #151515;
	z-index: 6;
  }
  .container input:focus ~ .search::before {
	top: 0;
	left: 0;
	width: 25px;
  }
  .container input:focus ~ .search::after {
	top: 0;
	left: 0;
	width: 25px;
	height: 2px;
	border: none;
	background: white;
	border-radius: 0%;
	transform: rotate(-45deg);
  }
  .container input::placeholder {
	color: white;
	opacity: 0.5;
	font-weight: bolder;
  }





.lista {
	margin-left: 30%;
	margin-right: 30%;
	padding-top: 20px;
	padding-bottom: 20px;
	min-height: 100%;
}

.bloque_info {
	display: flex;
	padding: 20px;
	margin-top: 30px;
	margin-bottom: 30px;
	border: 2px solid #0F1618;
	background-color: white;
	margin: 30px;
}

.bloques_header label {
	color: white;
	margin-left: 10px;
	margin-right: 10px
}

.info_right {
	margin-left: 5px;
	text-align: center;
}

.reducir_img {
	width: 100%;
	max-width: 50%;
}



footer {
	padding-top: 10px;
	padding-bottom: 30px;
	padding-left: 20px;
	padding-right: 20px;
}
footer p {
	color: #DC191B;
	margin-block-end: 0;
	margin-block-start: 0;
}



.centrar {
	display: block;
}

.inline {
	display: inline;
}

.flex {
	display: flex;
}



.cuadro {
	background-color:white;
	border:2px solid #0F1618;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	margin: auto;
	margin-bottom: 20%;
	margin-top: 20%;
	max-width: 900px;
}

.espacio_form {
	padding: 20px;
	float: left;
}

fieldset input {
	margin: 20px;
}

.texto_grande {
	width: 200px;
	height: 100px;
}

#confirmar {
	margin: 20px;
	align-items: center;
	padding: 20px;
}

fieldset p, #return_imagen {
	margin-block-start: 0;
    margin-block-end: 0;
	color: rgb(255, 58, 58)
}

header select {
	padding-right: 10px;
	margin-right: 10px;
}

.top_form {
	background-color: #922B21;
	border-bottom: 2px solid #0F1618;
}

.top_form p {
	padding: 25px;
	color: white;
	font-weight: bold;
	margin: auto;
}